body{
  background: #fafafa;
  width: 100%;
  height: 100%;
  color: #3e5479;
  font-family: sans-serif;
}

/*-- ROOT--*/

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  max-width: 1280px;
  margin: auto;
}

/*-- NAV--*/
nav{
  width: 100%;
  display: block;
}

ul{
  margin-left: 50px;
}

li {
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #3e5479;
  display: block;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

li a:hover {
  font-size: 18px;
  color: #50bbf9;
}


/*-- HEADER--*/

.header {
  height: 50px;
  display: block;
  width: 100%;
  margin-bottom: 25px;
  flex: 0 0 100%;
}

.header .logo {
  overflow: hidden;
  text-indent: 1000px;
  background: url('images/quipper-logo.png') no-repeat transparent;
  background-size: contain;
  display: block;
  width: 156px;
  height: 40px;
}

/*-- QUIZ--*/

.quiz {
  background: white;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 3px 20px -3px #ccc;
  border-radius: 6px;
  display: block;
  margin: 100px auto auto auto;
  padding: 50px 30px 30px 30px;
  max-width: 1000px;
  height: 100%;
  min-height: 230px;
  width: calc(80% - 20px);
}

.quiz form{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.quiz-item-container{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  width: 100%;
  line-height: 1.3em;
  text-align: justify;
}

.question-container, .answer-container{
  display: block;
  width: 48%;
  padding: 0 1%;
  min-height: 170px;
}

.question-title, .answer-title{
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
  height: 28px;
  line-height: 28px;
  margin-bottom: 40px;
}

.question-title { color: #50bbf9; }
.question-content, .answer-space {
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
}

.answer-space{
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #3e5479;
}
.answer-result {
  color: #60b257;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  display: block;
  border: none;
  text-align: right;
  margin-top: 20px;
  min-height: 32px;
  line-height: 1.6em;
  display: none;
}

.submit {
  background-color: #50bbf9;
  height: 32px;
  width: 110px;
  display: block;
  border: none;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  right: 1%;
  font-weight: 600;
}
